<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.PlantMapper">

	<resultMap id="plantMap" type="Plant" autoMapping="true">
		<association property="location">
			<id property="id" column="location_id" />
			<result property="name" column="location_name" />
		</association>
	</resultMap>

	<select id="selectAll" resultMap="plantMap">
		SELECT
		 plants.id,
		 locations.name AS location_name,
		 plants.plant_name
		FROM plants
		JOIN locations
		  ON plants.location_id = locations.id
	</select>

	<select id="selectById" resultMap="plantMap" parameterType="int">
		SELECT
		 plants.id,  
		 locations.id AS location_id, 
		 locations.name AS location_name,
		 plants.plant_cpl, 
		 plants.plant_name,
		 plants.japanese_name, 
		 plants.scientific_name, 
		 plants.genus_name,
		 plants.description, 
		 plants.image_path
		FROM plants
		JOIN locations
		ON plants.location_id = locations.id
		WHERE plants.id = #{id}
	</select>

	<select id="selectLimited" resultMap="plantMap">
		SELECT
		  plants.id,
		  locations.name AS location_name,
		  plants.plant_name
		FROM plants
		JOIN locations
		  ON plants.location_id = locations.id
		LIMIT #{offset}, #{limit}
	</select>

	<select id="count" resultType="long">
		SELECT COUNT(*) FROM plants
	</select>

	<insert id="insert" parameterType="Plant">
		INSERT INTO plants(
		    location_id, plant_cpl, plant_name, japanese_name,
		     scientific_name, genus_name, description, image_path
		)VALUES(
		     #{location.id}, #{plantCpl}, #{plantName}, #{japaneseName},
		      #{scientificName}, #{genusName}, #{description}, #{imagePath}
		      )
	</insert>

	<update id="update" parameterType="Plant">
		UPDATE plants
		SET
		location_id = #{location.id}, plant_cpl = #{plantCpl}, plant_name = #{plantName},
		japanese_name = #{japaneseName}, scientific_name = #{scientificName}, genus_name = #{genusName},
		description = #{description}, image_path = #{imagePath}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM plants WHERE id = #{id}
	</delete>

</mapper>
