<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<title>お気に入り</title>
</head>

<body style="background-color: rgb(208, 210, 208); font-family: 'Cormorant Garamond', serif;">

	<nav th:replace="~{commonP :: navbar}"></nav>
	<div class="container my-5">

		<header class="d-flex justify-content-between align-items-center mb-4">
			<h2>お気に入り登録</h2>
		</header>
    
    <p th:if="${status}" th:text="${status}" class="status-message"></p>
    
    <div>
        <p>植物ID: <span th:text="${botanicalId}"></span></p>
        <form th:action="@{'/favorite/' + ${botanicalId} + '/favorite'}" method="post">
            <button type="submit">お気に入り登録</button>
        </form>
        <form th:action="@{'/favorite/' + ${botanicalId} + '/unfavorite'}" method="post">
            <button type="submit">お気に入り解除</button>
        </form>
    </div>
   
		<footer class="text-center py-3">
			<p>&copy; 2025 BotanicEncounters</p>
		</footer>

		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>